html, body {
    height: 100%;
}

wrapper {
    min-height: 100%;
    align-items: stretch;
}

.head1 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #cccccc;
    border-radius: 0;
}

.navbar-custom {
    padding: 0;
}

h1.navbar-brand.logo, h1.navbar-brand.logo:hover {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background: #4aaaa5;
    padding: 1.5rem;
    margin: 0;
}

#navbar-nav {
    margin: 0;
}

.nav-link {
    color: #777777;
}

.nav-link:hover {
    color: #4aaaa5;
}

.main {
    flex-grow: 1;
    border: none;
    background-image: url(../images/upfeathers.png);    
}

.title-custom {
    color: #4aaaa5;
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    width: 100%;
    background:#666666;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    padding: 1.5rem 0 0.5rem 0;
    border-top: solid #4aaaa5 0.5rem;
}

/* styles affecting portfolio.html */
.project {
    position: relative;
}

.port {
    border-radius: 25px;
    border: #ffffff;
}

.port-title {
    color: #ffffff;
    background: #4aaaa5;
    font-size: 1rem;
    margin: 0;
    width: 100%;
    left: 0;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4aaaa5;
    color: #ffffff;
    background: #4aaaa5;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
}

.project:hover .overlay {
    opacity: .9;
}

.project:hover .port-title {
    opacity:0;
}

/* styles affecting contact.hmtl */

input[type=text], input[type=email], textarea {
    color: #666666;
}

input::placeholder, textarea::placeholder {
    color: #ebe5d9;
}

.form-control:focus {
    border-color: #4aaaa5 !important;
    box-shadow: 0 0 5px #4aaaa5 !important;
  }

button[type=submit] {
    color: #4aaaa5;
    background: #ffffff;
    border: solid #4aaaa5;
    font-weight: bold;
}

button[type=submit]:hover {
    color: white;
    background: #4aaaa5;
    border: solid #4aaaa5;
    font-weight: bold;
}
