.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background: #4aaaa5;
    padding: 1.5rem;
}

.title-custom {
    color: #4aaaa5;
    font-size: 1.5rem;
    font-weight: bold;
}

#pic {
    max-width: 30%;
    height: auto;
}